@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import "tw-animate-css";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';
@import 'swiper/css/mousewheel';

@custom-variant dark (&:is(.dark *));

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Light.woff2') format('woff2'),
      url('/fonts/montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-LightItalic.woff2') format('woff2'),
      url('/fonts/montserrat/Montserrat-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Regular.woff2') format('woff2'),
      url('/fonts/montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Italic.woff2') format('woff2'),
      url('/fonts/montserrat/Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Medium.woff2') format('woff2'),
      url('/fonts/montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-MediumItalic.woff2') format('woff2'),
      url('/fonts/montserrat/Montserrat-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat/Montserrat-Bold.woff2') format('woff2'),
      url('/fonts/montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Light.woff2') format('woff2'),
      url('/fonts/roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-LightItalic.woff2') format('woff2'),
      url('/fonts/roboto/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
      url('/fonts/roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Italic.woff2') format('woff2'),
      url('/fonts/roboto/Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Medium.woff2') format('woff2'),
      url('/fonts/roboto/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-MediumItalic.woff2') format('woff2'),
      url('/fonts/roboto/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Bold.woff2') format('woff2'),
      url('/fonts/roboto/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  /* --color-primary: var(--primary); */
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --hsl-primary: 315, 82%, 38%;
  --hsl-elegant: hsl(315, 82%, 38%, / 0.2);
  --hsl-soft: hsl(315, 82%, 38%, / 0.15);
  --hsl-primary-glow: 315, 82%, 70%;
  --hsl-primary-soft: 315, 41%, 95%;
  --hsl-secondary: 210, 4%, 91%;
  --hsl-white: 0, 0%, 100%;
}

@theme {
  --breakpoint-xs: 425px;
  --breakpoint-sm: 500px;
  --breakpoint-600: 600px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-1400: 1400px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1700px;

  --color-primary: #B11289;
  --color-primary-glow: hsl(var(--hsl-primary-glow));
  --color-primary-soft: hsl(var(--hsl-primary-soft));
  --color-elegant: var(--hsl-elegant);
  --color-dark: #020202;
  --color-secondary: #E6E7E8;
  --color-gray-59: #595959;
  --color-gray-66: #666666;
  --color-gray-f2: #F2F2F2;
  --color-gray-b3: #B3B3B3;
  --color-gray-d9: #D9D9D9;
  --color-gray-40: #404040;

  --font-roboto: 'Roboto', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;

  /* Custom gradients */
  --background-image-gradient-primary: linear-gradient(135deg, hsl(var(--hsl-primary)), hsl(var(--hsl-primary-glow)));
  --background-image-gradient-hero: linear-gradient(135deg, hsl(var(--hsl-primary)) 0%, hsl(var(--hsl-primary-glow)) 50%, hsl(var(--hsl-primary-soft)) 100%);
  --background-image-gradient-secondary: linear-gradient(180deg, hsl(var(--hsl-white)), hsl(var(--hsl-secondary)));
  
  /* Shadows */
  --shadow-elegant: 0 10px 30px -10px;
  --shadow-soft: 0 4px 20px -2px;
  /* --shadow-elegant: 0 10px 30px -10px hsla(var(--hsl-primary), / 0.2);
  --shadow-soft: 0 4px 20px -2px hsla(var(--hsl-primary), / 0.15); */
  
  /* Transitions */
  --transition-smooth: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  --animate-marquee: marquee 100s infinite;
}

@layer utilities {
  @keyframes slideY {
    0% {
      transform: translateY(0%);
    
    }
    100% {
      transform: translateY(-100%);
     
    }
  }
  @keyframes slideX {
    0% {
      transform: translateX(0%);
    
    }
    100% {
      transform: translatex(-100%);
     
    }
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    @apply text-[16px] scroll-smooth;
  }
  body {
    @apply min-h-screen w-full bg-white font-roboto text-[0.75rem] leading-[1.4] tracking-[0.05em] break-words text-wrap text-dark;
  }
  .regular-container {
    @apply w-full max-w-7xl 2xl:max-w-[1500px] mx-auto px-4 sm:px-8 md:px-12 xl:px-16 2xl:px-24 3xl:px-36;
  }
  .section-block-padding {
    @apply py-20 md:py-24 lg:py-[6.5rem];
  }

  /* Swiper */
  .mySwiper .swiper-wrapper {
    @apply !w-[85.8vw] !max-w-[495px] md:!max-w-none md:!w-[595px] lg:!w-[828px] xl:!w-[1024px] 2xl:!w-[1200px] 3xl:!w-[1300px] !mx-auto;
  }
  /* .swiper-button-next,
  .swiper-button-prev {} */

  /* Typography */
  .typo-h1 { /* Home hero */
    @apply font-montserrat text-[calc(10vw_+_3px)] sm:text-[3.3125rem] md:text-[calc(7.7821011673vw_-_19.6887159533px)] lg:text-[clamp(calc(5.5vw_-_10px),_50%,_calc(7.5vw_-_10px))] leading-[1.2] -tracking-[0.25px] font-bold;
  }
  .typo-h2 { /* Section title */
    @apply font-montserrat text-[1.375rem] md:text-[calc(3.5019455253vw_+_8.140077821px)] lg:text-[calc(1.8181818182vw_+_25.3818181818px)] xl:text-[clamp(50px,_3.731vw,_62px)] leading-[1.2] font-bold xl:font-semibold;
  }
  .typo-h2-cta { /* CTA title */
    @apply font-montserrat text-[calc(8.1888888889vw_+_3.5555555556px)] md:text-[calc(1.5564202335vw_+_14.0622568093px)] lg:text-[calc(0vw_+_37px)] xl:text-[clamp(37px,_2.761vw,_46px)] leading-[1.2] tracking-[0] font-semibold;
  }
  .typo-h2-hero { /* Common hero in most pages */
    @apply font-montserrat text-[calc(8.1888888889vw_+_3.5555555556px)] md:text-[calc(10.1556px_+_3.89105vw)] lg:text-[clamp(-5.85455px_+_5vw,_50%,_-5.85455px_+_6vw)] xl:text-[clamp(71px,_4.733vw,_88px)] leading-[1.2] md:leading-[1.1] lg:leading-[clamp(-9px_+_6.3vw,_54%,_-9px_+_8.1vw)] xl:leading-[1.25] tracking-[0] font-medium;
  }
  .typo-h3 { /* Home case study title */
    @apply font-montserrat text-[1.5625rem] md:text-[1.4125rem] lg:text-[1.875rem] xl:text-[clamp(1.875rem,_2.985vw,_2.3125rem)] leading-[1.2] md:leading-[1.15] font-medium;
  }
  .typo-h4 { /* Service card title */
    @apply font-montserrat text-[1.375rem] md:text-[1.6875rem] xl:text-[clamp(1.6875rem,_3.134vw,_2rem)] leading-[1.2] md:leading-[1.25] tracking-[0] font-bold;
  }
  .typo-h5 { /* Service page subheadings */
    @apply font-montserrat text-[1rem] md:text-[1.125rem] xl:text-[clamp(1.125rem,_1.866vw,_1.5rem)] leading-[1.2] font-medium md:font-bold;
  }
  .typo-h6 {
    @apply font-montserrat text-[1rem] sm:text-[1.25rem] leading-[1.4] font-medium;
  }
  .typo-subtitle { /* Home hero subtitle above title */
    @apply font-roboto text-[1.25rem] md:text-[0.75rem] lg:text-[0.9375rem] leading-[1.5] tracking-[0.08em] font-light;
  }
  .typo-body-1 { /* Home get-to-know-us text */
    @apply font-roboto text-[calc(2.2222222222vw_+_12.8888888889px)] md:text-[1.25rem] lg:text-[1.5625rem] xl:text-[clamp(25px,_1.791vw,_30px)] leading-[1.6] tracking-[0.08em] font-light;
  }
  .typo-body-2 { /* Home case study description */
    @apply font-roboto text-[0.875rem] md:text-[0.9375rem] xl:text-[clamp(15px,_1.119vw,_19px)] leading-[1.6] md:leading-[2] tracking-[0.025em] md:tracking-[0.08em] font-light;
  }
  .typo-body-3 { /* CTA body text */
    @apply font-roboto text-[calc(0.4474272931vw_+_16.5682326622px)] md:text-[0.75rem] xl:text-[clamp(0.875rem,_1.343vw,_1.0625rem)] leading-[1.6] md:leading-[2] tracking-[0] font-light;
  }
  .typo-body-4 { /* Services breakdown text */
    @apply font-roboto text-[0.6875rem] xl:text-[clamp(0.6875rem,_1.119vw,_0.875rem)] leading-[1.7] md:leading-[1.8] tracking-[0.05em] md:tracking-[0.08em] font-light;
  }
  .typo-body-5 { /* Our works page services text */
    @apply font-roboto text-[0.875rem] xl:text-[clamp(0.6875rem,_1.119vw,_0.875rem)] leading-[1.6] tracking-[0.05em] font-light;
  }
  .typo-body-6 { /* Discover more slide text */
    @apply font-roboto text-[0.8125rem] md:text-[0.9375rem] lg:text-[1rem] xl:text-[clamp(1.125rem,_1.791vw,_1.375rem)] leading-[1.29] tracking-[0.05em] font-medium;
  }
  .typo-body-7 { /* About page Our Story text  */
    @apply font-roboto text-[0.6875rem] xl:text-[clamp(0.6875rem,_1.119vw,_0.875rem)] leading-[2] tracking-[0.05em] font-light;
  }
  .typo-body-8 {
    @apply font-roboto text-[15px] lg:text-[calc(0.3568879372vw_+_10.3640256959px)] xl:text-[clamp(15px,_1.119vw,_20px)] leading-[1.2] tracking-[0.05em] font-light;
  }
  .typo-big {
    @apply font-roboto text-[55px] lg:text-[calc(1.4275517488vw_+_36.4561027837px)] xl:text-[clamp(55px,_4.104vw,_68px)] leading-[1.2] tracking-[0.05em] font-extralight;
  }
  .typo-caption-small { /* Section caption above title */
    @apply font-roboto text-[0.625rem] xl:text-[clamp(0.625rem,_0.97vw,_0.75rem)] leading-[1.2] tracking-[0.3em] xl:tracking-[clamp(.3em,_0.97vw,_.4em)] font-light opacity-90;
  }
  .typo-caption-large { /* Home bottom caption */
    @apply font-roboto text-[calc(4.4444444444vw_+_3.7777777778px)] md:text-[calc(0.7782101167vw_+_8.0311284047px)] lg:text-[calc(1.1612903226vw_+_12.1083870968px)] leading-[1.5] md:leading-[2] lg:leading-[1.2] font-light;
  }
  .typo-menu { /* Menu btn text */
    @apply text-[0.625rem] md:text-[0.75rem] leading-[2rem] font-bold uppercase;
  }
  .typo-button { /* Button texts */
    @apply font-montserrat text-[1.0625rem] md:text-[0.9375rem] xl:text-[clamp(15px,_1.119vw,_19px)] leading-[1.125rem] font-bold md:font-medium lg:font-normal tracking-[0];
  }
  .typo-button-small { /* Small button texts */
    @apply font-roboto text-[0.725rem] lg:text-[0.8125rem] xl:text-[clamp(13px,_1.119vw,_15px)] leading-[1.125rem] font-bold md:font-medium lg:font-normal tracking-[0];
  }
  .typo-tiny { /* 'Filter by...' text in mobile filters in our works page */
    @apply font-roboto text-[9px] leading-[45px] tracking-[0.01em] font-bold;
  }
  .typo-display {
    @apply font-roboto text-[calc(8.9485458613vw_+_51.3646532438px)] xl:text-[200px] leading-[1] font-medium;
  }

  /* MACARON */
  .macaron {
    @apply w-[115px] aspect-square rounded-full border-[3] border-white;
  }
  .macaron.homepage-macaron {
    @apply lg:w-[clamp(115px,_9vw,_14vw)];
  }
  .half-macaron {
    @apply w-[calc(115px_/_2)] aspect-square rounded-full border-[3] border-white;
  }
  .half-macaron.homepage-half-macaron {
    @apply lg:w-[calc(clamp(115px,_9vw,_14vw)_/_2)];
  }

  /* UTILITIES */
  .center-circle {
    @apply rounded-full aspect-square grid place-items-center;
  }
  .transform-origin-top-left {
    transform-origin: top left;
  }
  .transform-origin-bottom-left {
    transform-origin: bottom left;
  }
  .transform-origin-center {
    transform-origin: center center;
  }

  .three-cols-grid > :nth-child(3n+1) {
    @apply xl:mr-auto xl:ml-0;
  }
  .three-cols-grid > :nth-child(3n+2) {
    @apply xl:mx-auto;
  }
  .three-cols-grid > :nth-child(3n+3) {
    @apply xl:ml-auto xl:mr-0;
  }

  /* .three-cols-grid > :nth-child(2n+1) {
    @apply lg:mr-auto lg:ml-0;
  }
  .three-cols-grid > :nth-child(2n+2) {
    @apply lg:ml-auto lg:mr-0;
  } */

  .three-cols-grid > div {
    @apply mx-auto;
  }

  /* Give any select/dropdown trigger caret the .trigger-caret class to make it rotate when the dropdown is open */
  .shadcn-trigger > .trigger-caret {
    @apply transition-all duration-300 ease-in-out;
  }

  .shadcn-trigger[data-state='open'] > .trigger-caret {
    @apply rotate-180;
  }

  .filter-btn-animation {
    animation-duration: 700ms;
    animation-timing-function: ease-in-out;
  }

  /* Hide scrollbar for any element */
  .scrollbar-none {
    overflow: auto;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none; /* Hides scrollbar in WebKit browsers */
  }

  .scrollbar-none {
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }

  /* Remove arrows from number inputs */
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  /* Hide date input default calendar icon */
  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  input[type="date"] {
    appearance: none;
    -moz-appearance: textfield;
  }
  input[type="date"]::-ms-clear,
  input[type="date"]::-ms-reveal {
    display: none;
  }
    

  /* Stop that weird different color of inputs when auto-filled or completed */
  /* Add a transition-delay of 1hr to delay the changing of background by the browser */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  input:-internal-autofill-selected,
  input:-internal-autofill-selected:hover,
  input:-internal-autofill-selected:focus,
  input:-internal-autofill-selected:active {
    transition-delay: 3600s !important;
  }

  video {
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  /* Accordion animations */
  .data-\[state\=closed\]\:animate-accordion-up {
    &[data-state="closed"] {
      animation-duration: 0.7s !important;
      animation-timing-function: ease-in-out !important;
    }
  }
  .data-\[state\=open\]\:animate-accordion-down {
    &[data-state="open"] {
      animation-duration: 0.7s !important;
      animation-timing-function: ease-in-out !important;
    }
  }

  @keyframes hide-filter {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      display: none;
    }
  }

  @keyframes hide-filters-wrap {
    from {
      max-height: auto;
    }
    to {
      max-height: none;
    }
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes zoom-out {
    from {
      transform: scale(110%);
    }
    to {
      transform: scale(100%);
    }
  }
}

/* .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
} */
